<tr>
    <td>
        <p style="display: none">{{FILENAME}}</p><img style="margin-right: 5px; max-width: 20px"
            src="data:image/png;base64, {{IMAGE}}" /><a href="{{FILEPATH}}">{{FILENAME}}</a>
    </td>
    <td>{{SIZE}}</td>
    <td>{{MODIFIED}}</td>
</tr>
