<span style="font-size: 12px">built with </span><a style="font-size: 12px"
    href="https://gitlab.com/guangrei/apindex" target="_blank">apindex</a> <span style="font-size: 12px">{{VERSION}}, some Icons provide by </span><a style="font-size: 12px"
    href="https://icons8.com/" target="_blank">Icons8</a><span style="font-size: 12px">.</span>