<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index of {{TITLE}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
    <h3 class="text-muted" style="padding-top: 12px; padding-bottom: 12px; text-decoration-color: rgb(0, 0, 0); color: rgb(0, 0, 0);"><b style="color: rgb(63, 59, 59);">Index of {{DIR}}</b></h3>
   <table class="table table-sm table-hover table-striped">
		<thead>
			<tr>
				<th style="width: 65%">
					Filename
				</th>
				<th style="width: 15%" >
					Size
				</th>
				<th style="width: 20%">
					Last Modified
				</th>
			</tr>
		</thead>
		<tbody>
            {{GEN_DIRS}}
            {{GEN_FILES}}
		</tbody>
    </table>
    <span>
        {{FOOTER}}
    </span>
    </div>
</body>
</html>
